-- SQL query to upgrade a user to the Moonlighting plan without payment
-- Replace YOUR_USER_ID_HERE with the actual user ID number

-- Option 1: Update by user ID (recommended)
UPDATE teams 
SET 
  plan_name = 'Moonlighting', 
  subscription_status = 'active', 
  stripe_product_id = 'moonlighting-fallback', -- Using fallback product ID from code
  updated_at = NOW()
WHERE id = (
  SELECT team_id 
  FROM team_members 
  WHERE user_id = YOUR_USER_ID_HERE
);

-- Option 2: Update by user email
-- UPDATE teams 
-- SET 
--   plan_name = 'Moonlighting', 
--   subscription_status = 'active', 
--   stripe_product_id = 'moonlighting-fallback', -- Using fallback product ID from code
--   updated_at = NOW()
-- WHERE id = (
--   SELECT tm.team_id 
--   FROM team_members tm
--   JOIN users u ON tm.user_id = u.id
--   WHERE u.email = 'YOUR_EMAIL_HERE'
-- );

-- Option 3: Update specific team by team ID
-- UPDATE teams 
-- SET 
--   plan_name = 'Moonlighting', 
--   subscription_status = 'active', 
--   stripe_product_id = 'moonlighting-fallback', -- Using fallback product ID from code
--   updated_at = NOW()
-- WHERE id = YOUR_TEAM_ID_HERE;

-- Note: The application uses price_1R5vvRFYYYXM77wG8jVM2pGC as the Moonlighting plan price ID.
-- However, we're only updating the product ID, not the price ID in this query.
