/* Dashboard styles */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Mobile navbar styles */
@media (max-width: 640px) {
  nav {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
} 